html {
    overflow: hidden;
}

body {
    font-size: 18px;
    margin: 0px;
    background-color: #458588; /* this allows the bar to not have a white border */
    color: #ebdbb2;
    overflow: hidden;
    font-family: "Consolas", "monospace";
}

#bar {
    margin: 5px;
    background-color: #458588;
    font-weight: bold;
}

#canvas {
    background-color: #282828;
    border: none;
}